<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Receita</title>
</head>
<body>
    <h1>Adicionar Receita</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adicionar Receita</button>
    </form>

    <a href="{% url 'polls:lista_receitas' %}">Voltar para a Lista de Receitas</a>
</body>
</html>