<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Receita</title>
</head>
<body>
    <h1>Detalhes da Receita</h1>

    <h2>{{ receita.nome }}</h2>
    <p>Ingredientes: {{ receita.ingredientes }}</p>
    <p>Tempo de Preparo: {{ receita.tempo }} minutos</p>
    <p>Dificuldade: {{ receita.get_dificuldade_display }}</p>
    <p>Instruções: {{ receita.instrucoes }}</p>

    <a href="{% url 'polls:lista_receitas' %}">Voltar para a Lista de Receitas</a>
</body>
</html>